<!-- Navbar -->

<div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/">Car Rental</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Signup</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </nz-header>
</div>

<!-- Navbar for admin -->

<div class="container" *ngIf="isAdminLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/">Car Rental</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Admin Dashboard</a>
      <a nz-button nzType="link" routerLink="/admin/car" routerLinkActive="active">Post Car</a>
      <a nz-button nzType="link" routerLink="/admin/bookings" routerLinkActive="active">Bookings</a>
      <a nz-button nzType="link" routerLink="/admin/car/search" routerLinkActive="active">Search</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>
</div>

<!-- Navbar for customer -->

<div  class="container"*ngIf="isCustomerLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/">Car Rental</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/customer/bookings" routerLinkActive="active">Bookings</a>
      <a nz-button nzType="link" routerLink="/customer/search" routerLinkActive="active">Search</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>
</div>
<router-outlet></router-outlet>
